.portia{
    border-radius: 50%;
}

.big_content{display: flex;
    justify-content: center;
}

.last_para{background-color: rgb(158, 77, 20);
}

.button{ border-radius: 20%;
         background-color: rgb(82, 82, 252); 
}

.imgA{
     border: 10px solid rgb(247, 186, 94);
}
 .big_container{
               border-radius: 60px;
               display: flex;
               justify-content: space-evenly;
}
